@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .custom_shadow {
    box-shadow: inset 0px 5px 5px rgb(114, 113, 113);
  }
}
